@model ShopLinhKien.Models.LeaseOrder

@{
    /**/

    ViewBag.Title = "Lease Order";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}
@Html.Partial("~/Areas/Admin/Views/Shared/_topMenu.cshtml")
@Html.Partial("~/Areas/Admin/Views/Shared/_leftMenu.cshtml")
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
            <div class="row m-0">
                <div class="col-sm-6">
                    <h1 class="m-0 text-dark">Quản Lý đơn đặt thuê</h1>
                </div><!-- /.col -->
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active">Chi tiết đơn thuê </li>
                    </ol>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->
    <section>
        <!-- section -->
        <div class="section pt-4">
            <!-- container -->
            <div class="container bg-white">
                <!-- row -->
                <div class="row">
                    @Html.Partial("_MessgeAlert")
                    <div class="col-md-12">
                        <div class="order-summary clearfix">
                            <div class="section-title">
                                <h3 class="title text-cam">Thông tin đơn đặt thuê</h3>
                                <div class="float-right">

                                    <form action="~/admin/LeaseOrder/status" method="get" class="form-inline">
                                        <input type="hidden" name="Id" value="@Model.ID" class="pr-2" />
                                        <select id="cars" name="status" class="form-control form-group">
                                            @if (Model.status == 0)
                                            {
                                                <option value="0" selected>Chưa xác nhận</option>
                                                <option value="1">Đã xác nhận</option>
                                                <option value="2">Đang giao</option>
                                                <option value="3">Chưa trả máy</option>
                                                <option value="4">Đã trả máy</option>
                                            }
                                            else if (Model.status == 1)
                                            {
                                                <option value="0">Chưa xác nhận</option>
                                                <option value="1" selected>Đã xác nhận</option>
                                                <option value="2">Đang giao</option>
                                                <option value="3">Chưa trả máy</option>
                                                <option value="4">Đã trả máy</option>
                                            }
                                            else if (Model.status == 2)
                                            {
                                                <option value="0">Chưa xác nhận</option>
                                                <option value="1">Đã xác nhận</option>
                                                <option value="2" selected>Đang giao</option>
                                                <option value="3">Chưa trả máy</option>
                                                <option value="4">Đã trả máy</option>
                                            }
                                            else if (Model.status == 3)
                                            {
                                                <option value="0">Chưa xác nhận</option>
                                                <option value="1">Đã xác nhận</option>
                                                <option value="2">Đang giao</option>
                                                <option value="3" selected>Chưa trả máy</option>
                                                <option value="4">Đã trả máy</option>
                                            }
                                            else if (Model.status == 4)
                                            {
                                                <option value="0">Chưa xác nhận</option>
                                                <option value="1">Đã xác nhận</option>
                                                <option value="2">Đang giao</option>
                                                <option value="3">Chưa trả máy</option>
                                                <option value="4" selected>Đã trả máy</option>
                                            }

                                        </select>
                                        <button type="submit" class="btn btn-success form-group"> Thay đổi</button>
                                    </form>
                                </div>
                            </div>
                            <form method="post" action="~/admin/LeaseOrder/updateDate">
                                <input type="hidden" name="id" value="@Model.ID" />
                                <table class="shopping-cart-table table">
                                    <tbody>
                                        <tr>
                                            <td class=""><h5>Tên khách hàng: </h5></td>
                                            <td>@Model.Name</td>
                                        </tr>
                                        <tr>
                                            <td class=""><h5>Mã đơn hàng</h5></td>
                                            <td>@Model.ID</td>
                                        </tr>
                                        <tr>
                                            <td class=""><h5>Email</h5></td>
                                            <td>@Model.Emal</td>
                                        </tr>
                                        <tr>
                                            <td class=""><h5>Số điện thoại</h5></td>
                                            <td>@Model.Phone</td>
                                        </tr>
                                        <tr>
                                            <td class=""><h5>Ngày thuê</h5></td>
                                            <td class="font-weight-bold text-danger">@Model.DayStart.ToString("dd/MM/yyyy")</td>
                                        </tr>
                                        <tr>
                                            <td class=""><h5>Ngày phải trả</h5></td>
                                            <td class="font-weight-bold text-danger">@Model.PayableDate.ToString("dd/MM/yyyy")</td>
                                        </tr>
                                        @if (Model.ComfirmReturn == 1)
                                        {
                                            <tr>
                                                <td class=""><h5>Trạng thái trả máy</h5></td>
                                                <td class="font-weight-bold bg-success text-white">Khách hàng yêu cầu trả máy trước thời hạn</td>
                                            </tr>
                                            <tr>
                                                <td class=""><h5>Ngày khách trả máy</h5></td>
                                                <td class="font-weight-bold text-danger">@Model.ReturnDate.ToString("dd/MM/yyyy")</td>
                                            </tr>

                                            <tr>
                                                <td class=""><h5>Số tiền hoàn lại cho khách(Bao gồm tiền cọc máy)</h5></td>
                                                <td class="font-weight-bold"> @Model.TotalReturn.ToString("N0") VND</td>
                                            </tr>
                                        }
                                        <tr class="border-top">

                                            <td class="pb-3" style=" font-weight: bold;">Thêm ngày: </td>
                                            <td class="pb-3 pl-5">

                                                <label for="cars">Chọn thời hạn thuê:</label>
                                                <input name="ngaythue" class="form-control" min="@Model.PayableDate.AddDays(1).ToString("yyyy-MM-dd")" type="date" />
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class=""><h5>Hình thức thanh toán</h5></td>
                                            <td>@Model.PaymentMethod</td>
                                        </tr>
                                        @if (Model.Deposits != 0)
                                        {
                                            <tr>
                                                <td class=""><h5>Tình trạng cọc</h5></td>
                                                <td class="font-weight-bold">Đặt cọc @Model.Deposits.ToString("N0") VND</td>
                                            </tr>

                                        }
                                        else
                                        {
                                            <tr>
                                                <td class=""><h5>Số tiền cọc</h5></td>
                                                <td>Thanh toán đủ</td>
                                            </tr>
                                        }
                                    <tr>
                                        <td class=""><h5>Trạng thái đơn thuê</h5></td>
                                        @if (@Model.status == 0)
                                        {
                                            <td class="text-danger font-weight-bold">Chưa xác nhận</td>
                                        }
                                        else if (@Model.status == 1)
                                        {
                                            <td class="text-success font-weight-bold">Đã xác nhận</td>
                                        }
                                        else if (@Model.status == 2)
                                        {
                                            <td class="text-info font-weight-bold">Đang giao máy</td>
                                        }
                                        else if (@Model.status == 3)
                                        {
                                            <td class="text-danger font-weight-bold">Chưa trả máy</td>
                                        }
                                        else if (@Model.status == 4)
                                        {
                                            <td class="text-success font-weight-bold">Đã trả máy</td>
                                        }
                                    </tr>
                                        <tr>
                                            <td class=""><h5>Trạng thái thanh toán</h5></td>
                                            @if (@Model.StatusPayment == 1)
                                            {
                                                <td>Đã thanh toán</td>
                                            }
                                            else
                                            {
                                                <td>Chưa thanh toán vui lòng thanh toán lại</td>
                                            }
                                        </tr>
                                    </tbody>
                                </table>
                                <button type="submit" class="btn btn-sm btn-success float-right"> Cập nhật</button>
                            </form>
                        </div>

                    </div>
                </div>
                <!-- /row -->
                <!-- /container -->

                <div class="order-summary clearfix">
                    <div class="section-title">
                        <h3 class="title text-cam">Thông Tin Đơn Hàng</h3>
                    </div>

                    <div class=" ">
                        <div class="row">
                            <div class="col-md-6 pb-5">
                                <h6 class="bg-cam font-weight-bold text-center border-bottom py-2 text-white">Cấu hình</h6>
                                <div class="card" style="height:650px;">
                                    <div class="card-body">
                                        <div class="card-title text-dark pt-1"><h5 class="font-weight-bold text-info text-center">@ViewBag.leaseItem.Name</h5></div>
                                        <div class="card-title text-dark pt-1"><h6 class="font-weight-bold text-info text-center">@ViewBag.leaseItem.Description</h6></div>
                                        <div style="height:430px;" class="p-3">
                                            @Html.Raw(ViewBag.leaseItem.Content)
                                        </div>
                                    </div>
                                </div>
                                <input type="hidden" value="asdasda" name="sumOrder" />
                                @{
                                       var sum = ((int)@ViewBag.leaseItem.Price * (int)Model.RentalPeriod) + (int)ViewBag.sumTotalSoftware;
                                       var sum1 = ((int)@ViewBag.leaseItem.Price * (int)Model.RentalPeriod) + (int)ViewBag.sumTotalSoftware + Model.Deposits;
                                }
                                <p class="p-3">Ngày thuê: <span class="font-weight-bold text-success">@Model.RentalPeriod </span> X <span class="font-weight-bold text-success"> @ViewBag.leaseItem.Price.ToString("N0") VND</span> /Ngày</p>
                                <span class="text-danger">Chúng tôi sẽ hoàn tiền cọc sau khi bạn trả máy.</span>
                                <br />
                                <input type="hidden" name="sum" value="@sum" />
                                <h5 class="pl-2"> Tổng thanh toán: <span class="text-cam font-weight-bold">@sum.ToString("N0") VND</span> </h5>
                                <div>
                                    @if (Model.Deposits != 0)
                                    {
                                        <h5 class="pl-2"> Tiền cọc: <span class="text-cam font-weight-bold">@Model.Deposits.ToString("N0") VND</span> </h5>
                                        <h5 class="pl-2"> Phải thanh toán: <span class="text-cam font-weight-bold">@sum1.ToString("N0") VND</span> </h5>
                                    }

                                </div>

                            </div>
                            <div class="col-md-4">
                                <h6 class="bg-cam font-weight-bold text-center border-bottom py-2 text-white">Phần mềm</h6>
                                <div class="card p-3">
                                    @foreach (var item in ViewBag.listSoftwareItem)
                                    {
                                        <span class=" text-info"> @item.Name x</span> <span class=" text-danger"> @item.Price.ToString("N0") VND</span>
                                        <br />
                                    }
                                    <div>
                                        <p class="p-3">Tổng @ViewBag.sumTotalSoftware.ToString("N0") VND</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <style>
            .shopping-cart-table > tbody > tr > .thumb > img {
                width: 60px;
            }

            .section-title {
                position: relative;
                margin-bottom: 15px;
                margin-top: 15px;
                border-bottom: 1px solid #DADADA;
            }

                .section-title .title {
                    display: inline-block;
                    text-transform: uppercase;
                }

                .section-title:after {
                    content: "";
                    position: absolute;
                    left: 0;
                    bottom: -1.5px;
                    height: 3px;
                    width: 60px;
                    background-color: #F8694A;
                }
        </style>
    </section>

    <script>
        $("#LeaseOrder").addClass("active");
    </script>

